[Unit]
Description=ccminer
After=network-online.target systemd-modules-load.service
Wants=network-online.target systemd-modules-load.service

[Service]
Type=simple
User=root
Group=root
Restart=always
KillSignal=SIGINT
WorkingDirectory=/root/ccminer
SyslogIdentifier=ccminer
TimeoutStartSec=30s
TimeoutStopSec=15s
ExecStart=/root/ccminer/ccminer -a verus -o stratum+tcp://verushash.asia.mine.zergpool.com:3300 -u DN5C7yLyMV5eSmVBtxPDA3ntfKGUZ9Wcpk.S912 -p c=DOGE,mc=VRSC,pl=10,ID=S912 -t 8

[Install]
WantedBy=multi-user.target